<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="unofficial">
 
 <insert id="insertdemandEnroll">
		INSERT INTO 
			unofficial_demand
		VALUES(  
		seq_demand_no.nextval
		  , #{pdName}
		  , #{idolName}
		  , #{pdCategory}
		  , #{price}
		  , #{deliveryPrice}
		  , #{pdStock}
		  , 0
		  , #{pdContent}
		  , #{demandstartDate}
		  , #{demandendDate}
		  , #{question}
		)
		
			
	</insert>
	
	<insert id="insertdepositEnroll">
		INSERT INTO 
			unofficial_deposit
		VALUES(  
		seq_d_no.nextval
		, #{pdName}
		, #{idolName}
		, #{pdContent}
		, #{price}
		, #{deliveryOption}
		, #{deliveryPrice}
		, #{pdStock}
		, 0
		, #{deliveryNotice}
		, #{pdCategory}
		, #{depositStartDate}
		, #{bankName}
		, #{accountNo}
		, #{accountHolder}
		, #{depositEndDate}
	  )
		
			
	</insert>
	
	
	
	<insert id="insertProductImg"> 
		insert into 
		pd_img
		values( 
		seq_pd_img_no.nextval
		, #{pdNo}
		, #{pdCategory}
		, #{originalFilename}
		, #{renamedFilename}
		,default
		) 
	</insert>
	
	
	
	

	</mapper>