#logo {
    text-align: center;
}
#logo img{
    width: 200px;
}
.modal-body {
    text-align: center;
}

.modal-content {
	padding-bottom: 25px;
}

.fill-in-area {
    margin: 8px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.9px solid rgb(180, 144, 180);
    width: 400px;
    height: 40px;
}

input:hover {
    border-bottom: 1.9px solid rgb(128, 25, 128);
}



input:focus {
    outline: none;
    border-bottom: 1.9px solid rgb(128, 25, 128);
}

/* >> login btn start */
.btn {
    background-color: rgb(146, 105, 146);
    width: 410px;
    height: 45px;
    margin: 0 auto 5px;
    color: snow;
    border-radius: 100px;
}

.btn:hover {
    background-color: rgb(180, 126, 180);
}
/* << login btn end */

/* >> saveId checkbox start */
[name=remember-me] {
    margin-left: 50px;
    margin-top: 15px;
}

/* >> login ext a_tag start */
.login-ext {
    margin: 20px 0px 14px;
}

a {
    margin: 0px 5px;
    color: gray;
}
a:hover {
    text-decoration: none;
    color: #932fc1;
}
span {
    color: gray;
}
/* << login ext end */

.login-social {
    margin: 10px auto 30px;
    text-align: center;
}

#kakao-log {
    width: 400px;
    height: 40px;
    margin: 5px 0;
}


.chkNotice {
    width: 85%;
    font-size: smaller;
    text-align: left;
    margin: 0 auto 5px;
    color: grey;
}

.loginNotice {
	text-align: center;
	margin-bottom: 0px;
	color: red;
}