<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="payment">

	<select id="selectAllList" resultMap="paymentResultMap">
		 	select
			pp.*,
			ph.payment_no,
            ph.pay_date,
			ph.pay_content,
			ph.pay_type,
			ph.amount,
			ph.point,
			ph.waybill,
			pi.pd_category,
			pi.renamed_filename,
			p.pd_name,
			p.price
		from
			payment_product pp
		left join
			pd_img pi
		on 
			pp.pd_no = pi.pd_no
		left join 
			payment_history ph
		on
			pp.payment_no = ph.payment_no
		left join
			product p
		on
			pp.pd_no = p.pd_no
		where
			pp.fan_no = #{fanNo}
         order by 
     		ph.pay_date desc
			
	</select>
	<resultMap type="paymentProduct" id="paymentResultMap">
      <id column="order_no" property="orderNo"/>
	 <result column ="pd_no" property="pdNo"/>
      <result column="fan_no" property="fanNo"/>
	  <result column ="payment_no" property="paymentNo"/>
	  <result column ="pd_cnt" property="pdCnt"/>
      <result column="option_no" property="opNo"/>
      <result column="pay_type" property="payType"/>
      <result column="pay_content" property="payContent"/>
      <result column="pay_date" property="payDate"/>
      <result column="amount" property="amount"/>
      <result column="point" property="point"/>
      <result column="waybill" property="waybill"/>
   
      
     <collection property="productImg" ofType="ProductImg">
          <id column="pd_img_no" property="pdImgNo"/>
          <result  column="pd_no" property="pdNo"/>
          <result column="pd_category" property="pdCategory"/>
          <result column="original_filename" property="originalFilename"/>
          <result column="renamed_filename" property="renamedFilename"/>
          <result column="upload_date" property="uploadDate"/>
      </collection>
      
     <collection property="product" ofType="Product">
          <id column="pd_no" property="pdNo"/>
          <result column="idol_no" property="idolNo"/>
          <result column="pd_category" property="pdCategory"/>
          <result column="pd_name" property="pdName"/>
          <result column="pd_content" property="pdContent"/>  
          <result column="price" property="price"/>
          <result column="pd_stock" property="pdStock"/>
          <result column="pd_sales" property="pdSales"/>
          <result column="sales_date" property="salesDate"/>
      </collection>
	</resultMap>
	
	<select id="selectBasketList" resultMap="basketMap">
		 select
            b.fan_no,
            b.product_no,
            b.pd_amount,
            b.option_no,
			p.pd_name,
			p.pd_content,
			p.price,
			pi.pd_category,
			pi.renamed_filename,
			po.option_name
		from
			basket b
	 join
			product p
		on
			b.product_no = p.pd_no
	 join 
			pd_img pi
		on
			b.product_no = pi.pd_no
    join
			pd_option po
		on
			b.option_no = po.option_no
	<where> 
			b.fan_no = #{fanNo}	
        and 
       		pi.pd_category != 'D'
	</where>	
	</select>
		<resultMap type="basket" id="basketMap">
         <id column="fan_no" property="fanNo"/>
		 <result column="product_no" property="pdNo"/>  
          <result column="pd_amount" property="pdAmount"/>
          <result column="option_no" property="opNo"/> 
          <result column="pd_name" property="pdName"/>
          <result column="pd_content" property="pdContent"/>  
          <result column="price" property="price"/>
          <result column="pd_no" property="pdNo"/>
   
     <collection property="productImg" ofType="ProductImg">
          <id column="pd_no" property="pdNo"/>
          <result column="pd_img_no" property="pdImgNo"/>
          <result column="pd_category" property="pdCategory"/>
          <result column="renamed_filename" property="renamedFilename"/>
      </collection>
      
       <collection property="productOption" ofType="ProductOption">
          <id column="pd_no" property="pdNo"/>
          <result column="option_no" property="optionNo"/>
          <result column="option_name" property="optionName"/>
      </collection>
	</resultMap>
	
	<select id="selectUdList" resultMap="udMap">
		select
			u.demand_no,
			u.pd_name,
			u.idol_name,
			u.pd_category,
			u.price,
			u.delivery_price,
			u.pd_stock,
			u.pd_sales,
			u.pd_content,
			u.demand_start_date,
			u.demand_end_date
			
		from
			 unofficial_demand u
		where
			u.fan_no = #{fanNo}	
	
	</select>
	<resultMap type="unofficialDemand" id="udMap">
		<id column="demand_no" property="demandNo"/>
		<result column="pd_name" property="pdName"/>
		<result column="idol_name" property="idolName"/>
		<result column="pd_category" property="pdCategory"/>
		<result column="price" property="price"/>
		<result column="delivery_price" property="deliveryPrice"/>
		<result column="pd_stock" property="pdStock"/>
		<result column="pd_sales" property="pdSales"/>
		<result column="pd_content" property="pdContent"/>
		<result column="demand_start_date" property="demandstartDate"/>
		<result column="demand_end_date" property="demandendDate"/>
	</resultMap>
	
	<select id="selectPaymentList" resultMap="basketMap" parameterType="map">
			 select
            b.*,
			p.pd_name,
			p.pd_content,
			p.price,
			pi.pd_category,
			pi.renamed_filename,
			po.option_name
		from
			basket b
		left join
			product p
		on
			b.product_no = p.pd_no
	left join 
			pd_img pi
		on
			b.product_no = pi.pd_no
   left join
			pd_option po
		on
			b.option_no = po.option_no
	<where> 
		<if test="bNo != nulll">
			b.product_no in
		<foreach  collection="bNo" item="b" open="(" close=")" separator=",">
	 		#{b} 
	 	</foreach>
	 	</if>
     
	</where>
	</select>
	
	<delete id="deleteCart">
		delete from
			basket
		<where>
		fan_no = #{fanNo}
		and
		<if test="bNo != nulll">
		product_no in
		<foreach  collection="bNo" item="b" open="(" close=")" separator=",">
	 		#{b} 
	 	</foreach>
	 	</if>
	 	and
		<if test="opNo != nulll">
		option_no in
		<foreach  collection="opNo" item="op" open="(" close=")" separator=",">
	 		#{op} 
	 	</foreach>	
	 	</if>
	</where>
	</delete>
	
	
	<insert id="insertPaymentHistory">
		insert into
			payment_history
		values (
			seq_payment_history_no.nextval,
			#{fanNo},
			#{payType},
			null,
			default,
			#{amount},
			null,
			null,
			#{price}	
		)
 
		<selectKey keyProperty="paymentNo" resultType="_int" order="AFTER">
			select 
				seq_payment_history_no.currval
			from
			 	dual
		</selectKey>
	</insert> 
	<insert id="insertPaymentProduct">
		insert into
			payment_product
		values (           
           seq_payment_product_no.nextval,
			#{fanNo},
	 		#{pdNo},
			#{paymentNo},	
			default,
			<if test="opNo eq 0">
			default
			</if>	
			<if test="opNo neq 0">
			#{opNo}	
			</if>
           )
	
	</insert> 
	<select  id="selectHistory" resultMap="historyMap">
		select
            pp.pd_no,
            pp.option_no,
			p.pd_name
		from
			payment_product pp
		left join
			product p
		on 
			pp.pd_no = p.pd_no
      where 
                fan_no = #{fanNo}
	
	</select>
		<resultMap type="paymentProduct" id="historyMap">
	 <id column="order_no" property="orderNo"/>  
          <result column="pd_no" property="pdNo"/>
          <result column="fan_no" property="fanNo"/>
          <result column="pd_cnt" property="pdCnt"/>
          <result column="payment_no" property="paymentNo"/>
          <result column="pay_date" property="payDate"/>
          <result column="option_no" property="opNo"/>
          <result column="price" property="price"/>
          <result column="pay_type" property="payType"/>
          <result column="amount" property="amount"/>
          <result column="point" property="point"/>
          <result column="waybill" property="waybill"/>
 

     <collection property="product" ofType="Product">
       	 <id column="pd_no" property="pdNo"/> 
          <result column="pd_name" property="pdName"/>
          <result column="pd_content" property="pdContent"/>  
          <result column="price" property="price"/>
          <result column="pd_stock" property="pdStock"/>
          <result column="pd_sales" property="pdSales"/>
          <result column="sales_date" property="salesDate"/>
      </collection>
      
       
	</resultMap>
</mapper>