<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="payment">

	<select id="selectAllList" resultMap="paymentResultMap">
		select
			*
		from
			payment_history
	</select>
	<resultMap type="payment" id="paymentResultMap">
	 <id column ="payment_no" property="paymentNo"/>
	  <result column ="fan_no" property="fanNo"/>
      <result column="pay_type" property="payType"/>
      <result column="pay_content" property="payContent"/>
      <result column="pay_date" property="payDate"/>
     
	</resultMap>
</mapper>