<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

<!-- =========================== [ 회원가입 - 회원조회 ] =========================== -->
<!-- enabled는 db에서는 1/0 -> true/false로 자동형변환되어 들어옴 -->
<select id="selectOneMember" resultMap="memberMap">
	select
		*
	from
		fan
	where fan_id = #{id}
</select>
<resultMap type="fan" id="memberMap">
	<result column="certification" property="certification" typeHandler="booleanYNTypeHandler"/>
</resultMap>
<!-- =========================== [ (일반) 회원가입 - 회원등록 ] =========================== -->
<insert id="insertMember">
	insert into
		fan
	values (
		seq_fan_no.nextval,
		#{fanId},
		#{password},
		#{phone},
		#{address},
		#{email},
		#{birthday},
		null,
		null,
		'N',
		default,
		#{fanName},
		null
	)
</insert>
<!-- =========================== [ 회원가입 - 회원등록 - authority설정 ] =========================== -->
<insert id="insertMemberAuthority">
	insert into
		authority
	values (
		#{fanId},
		'ROLE_USER'
	)
</insert>

<insert id="insertAgencyAuthority">
	insert into
		authority
	values (
		#{fanId},
		'ROLE_AGENCY'
	)
</insert>
<!-- =========================== [ (기획사) 회원가입 - 회원등록 ] =========================== -->
<insert id="insertAgencyMember">
	insert into
		fan
	values (
		#{fanNo},
		#{fanId},
		#{password},
		#{phone},
		#{address},
		#{email},
		#{birthday},
		null,
		null,
		'N',
		default,
		#{fanName},
		null
	)
	<selectKey keyProperty="fanNo" resultType="string" order="AFTER">
		select f.*
		from (
		    select fan_no
		    from fan
		    order by enroll_date desc
		    ) f
		where rownum = 1
	 </selectKey>
</insert>
<insert id="insertAgency">
	insert into
		agency
	values (
		#{fanNo},
		#{agencyName},
		seq_agency_no.nextval
	)
</insert>
</mapper>