<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

<!-- =========================== [ 회원가입 - 회원조회 ] =========================== -->
<!-- enabled는 db에서는 1/0 -> true/false로 자동형변환되어 들어옴 -->
<select id="selectOneMember" resultMap="memberMap">
	select
		*
	from
		fan
	where fan_id = #{id}
</select>
<resultMap type="fan" id="memberMap">
	<result column="certification" property="certification" typeHandler="booleanYNTypeHandler"/>
</resultMap>
<select id="selectOneAuthority" resultType="authority">
	select
		*
	from
		authority
	where fan_id = #{fanId}
</select>
<!-- =========================== [ (일반) 회원가입 - 회원등록 ] =========================== -->
<insert id="insertMember">
	insert into
		fan
	values (
		seq_fan_no.nextval,
		#{fanId},
		#{password},
		#{phone},
		#{address},
		#{email},
		#{birthday},
		null,
		null,
		'N',
		default,
		#{fanName},
		1,
		null
	)
</insert>
<!-- =========================== [ (소셜) 회원가입 - 회원등록 ] =========================== -->
<insert id="insertOauthMember">
	insert into
		fan
	values (
		seq_fan_no.nextval,
		#{fanId},
		#{password},
		#{phone},
		#{address},
		#{email},
		#{birthday},
		null,
		null,
		'N',
		default,
		#{fanName},
		null,
		#{oauth}
	)
</insert>
<!-- =========================== [ 회원가입 - 회원등록 - authority설정 ] =========================== -->
<insert id="insertMemberAuthority">
	insert into
		authority
	values (
		#{fanId},
		'ROLE_USER'
	)
</insert>

<insert id="insertAgencyAuthority">
	insert into
		authority
	values (
		#{fanId},
		'ROLE_AGENCY'
	)
</insert>
<!-- =========================== [ (기획사) 회원가입 - 회원등록 ] =========================== -->
<insert id="insertAgencyMember">
	insert into
		fan
	values (
		#{fanNo},
		#{fanId},
		#{password},
		#{phone},
		#{address},
		#{email},
		#{birthday},
		null,
		null,
		'N',
		default,
		#{fanName},
		1,
		null
	)
	<selectKey keyProperty="fanNo" resultType="string" order="AFTER">
		select f.*
		from (
		    select fan_no
		    from fan
		    order by enroll_date desc
		    ) f
		where rownum = 1
	 </selectKey>
</insert>
<insert id="insertAgency">
	insert into
		agency
	values (
		#{fanNo},
		#{agencyName},
		seq_agency_no.nextval
	)
</insert>
<!-- 마이페이지 회원수정페이지 조회  -->
<!-- 	<select id="selectOneFan" resultMap="mypageFan">
	select 
		*
	from
		fan
	where
		fan_no = #{fanNo}
	
	</select>  열심히 적은 매퍼 타입입니다 필요할지 모르니 주석으로 남겨 놓겠습니당...총총
	<resultMap type="fan" id="mypageFan">
	 	<id column="fan_no" property="fanNo"/>
		<result column="fan_id" property="fanId"/>
		<result column="password" property="password"/>
		<result column="phone" property="phone"/>
		<result column="address" property="address"/>
		<result column="email" property="email"/>
		<result column="birthday" property="birthday"/>
		<result column="gender" property="gender"/>
		<result column="point" property="point"/>
		<result column="certification" property="certification"/>
		<result column="enroll_date" property="enrollDate"/>
		<result column="fan_name" property="fanName"/>
		<result column="enabled" property="enabled"/>	
	</resultMap> -->
	<update id="updateFan">
		update
			fan
		set
			password = #{password},
			phone = #{phone},
			address = #{address},
			email = #{email},	
			birthday = #{birthday},
			fan_name = #{fanName}
		where
			fan_no = #{fanNo}
	</update>
	<delete id="deleteFan">
		delete 
		from 
			fan 
		where
			fan_id = #{fanId}
	</delete>
	
<insert id="insertOauthAgencyMember">
	insert into
		fan
	values (
		#{fanNo},
		#{fanId},
		#{password},
		#{phone},
		#{address},
		#{email},
		#{birthday},
		null,
		null,
		'N',
		default,
		#{fanName},
		1,
		#{oauth}
	)
	<selectKey keyProperty="fanNo" resultType="string" order="AFTER">
		select f.*
		from (
		    select fan_no
		    from fan
		    order by enroll_date desc
		    ) f
		where rownum = 1
	 </selectKey>
</insert>
</mapper>