
.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
    
.carousel-control-prev-icon { 
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(200,169,200)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
fill:#C8A9C8
} 
.carousel-control-next-icon { 
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(200,169,200)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); 
/* fill ='%23000' */
}
.carousel-control-next, .carousel-control-prev{
    width: 5%;
}
#carouselExampleControls-card2{
    width: 100%;
}
.idol{
    width: 90%;
}
.btn {
    box-shadow: 1px 1px 2px gray;
}