
.item{
    margin-top: 2rem;
    height: 9rem;
    border: 1px solid black;
}
.idol-img{
    width: 100%;
    height: 100%;
}
.card-img{
    height: 100%;
    width: 75%;
    border-right: 1px solid black;
}
.bg-dark{
    color: white;
}

.btn-main {
    color: #fff;
    background-color: #C8A9C8;
    border-color: #C8A9C8;
}