*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
a{
    color: black;
}
footer{
    height: 200px;
}
.footer-introduce{
    width: 908px;

}
.footer-introduce li span{
    color: gray;
}
.footer-ul{
    margin: 1rem 2.5rem ;
    width: 250px;
}
.span-color{
    background-color: #39516A;
    color: whitesmoke;
    padding:   0 0.5rem ;
}
.span-color-h{
    background-color: #39516A;
    color: whitesmoke;
    padding:   0.1rem 0.5rem ;
    margin-bottom: 2rem;
}
