*{
  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
}
a{
  color: black;
}
.idol{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
#carouselExampleControls{
  margin-top: 1rem;
}
/* .carousel-caption1{
    position: absolute;
    right: 15%;
    left: 15%;
    bottom: 3rem;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
} */
.carousel-item:hover{
    cursor: pointer;
}
.card-img{
    height: 150px;
}
.card-div{
  margin-top: 3rem;
}
.btn-main{
  background-color: #C8A9C8;
    color: white;
  font-weight: bold;
}
.bg-dark{
     color: white;

}
.btn-outline-main {
  color: #C8A9C8;
  background-color: transparent;
  background-image: none;
  border-color: #C8A9C8;
  border-top-color: #C8A9C8;
  border-right-color: #C8A9C8;
  border-bottom-color: #C8A9C8;
  border-left-color: #C8A9C8;
}
.row{
margin: 1rem 0;
}
.card-slide{
width: 9rem;
height: 13rem;
}
.card-body-slide{
padding: 1.25rem;
}
.carousel-control-prev-icon { 
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(200,169,200)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
fill:#C8A9C8
} 
.carousel-control-next-icon { 
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(200,169,200)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); 
/* fill ='%23000' */
}