.sideBanner {
    position: absolute;
    z-index: 3;
    width: 70px;
    height: 100px;
    top: 50px;
    color: #ffffff;
    margin: 1.5rem;
}
.floating-img{
    width: 70px;
    height: 70px;
    padding: 0.7rem;
}
.floating-img:hover{
    cursor: pointer;
}