<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="idol">
	<select id="selectOneCollection" resultMap="idolCollectionMap">
		select
        	di.idol_no,
			iI.RENAMED_FILENAME,		
			i.idol_name
        from 
            dip_idol di
       join 
            idol_img iI
        on 
        	di.idol_no = iI.idol_no	
        join 
        	idol i
        on
        	di.idol_no = i.idol_no
        where
     		di.fan_no = #{fanNo}
        order by 
     		di.idol_no desc	
	</select>
	<resultMap type="dipidol" id="idolCollectionMap">
		<id column="fan_no" property="fanNo"/>
		<result column="idol_no" property="idolNo"/>
		<result column="agency_no" property="agencyNo"/>
		<result column="idol_name" property="idolName"/>
		<result column="fan_cnt" property="fanCnt"/>
		<result column="idol_name" property="idolName"/>
		
		 <collection property="idolImg" ofType="IdolImg">
          <id column ="idol_img_no" property="idolImgNo"/>
          <result column="idol_no" property="idolNo"/>
          <result column="original_filename" property="originalFilename"/>
          <result column="renamed_filename" property="renamedFilename"/>
          <result column="upload_date" property="uploadDate"/>
      </collection>

		
      
    
	</resultMap>
	
	<select id="selectAllIdole" resultMap="idolCollectionMaptwo">
      select 
         i.idol_no,
         i.idol_name,
         ii.renamed_filename
      from 
         idol i 
      join 
      	idol_img ii
      on
      	i.idol_no = ii.idol_no
     order by 
     	i.idol_no desc
   
   </select>

   <resultMap type="idol" id="idolCollectionMaptwo">
      <id column ="idol_no" property="idolNo"/>
      <result column="idol_name" property="idolName"/>
      <result column="fan_cnt" property="fanCnt"/>
      <result column="agency_no" property="agencyNo"/>
      
      <collection property="idolImg" ofType="IdolImg">
          <id column ="idol_img_no" property="idolImgNo"/>
          <result column="idol_no" property="idolNo"/>
          <result column="original_filename" property="originalFilename"/>
          <result column="renamed_filename" property="renamedFilename"/>
          <result column="upload_date" property="uploadDate"/>
      </collection>
   </resultMap>
	
	<insert id="insertIdol">
		insert into
			dip_idol
		values (
			#{fanNo},
			#{idolNo}
		)
	</insert>
	
	<delete id="deleteidol">
		delete from
			dip_idol
		where
			idol_no = #{idolNo}
	</delete>
</mapper>