<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="idol">
<!-- 이미지 파일 조회를 위한 idol select (idolImg와 조인) 
	형제 요소인 dip_fan이랑도 조인해준다. 그래야지 사용자(fan)의 번호로 조회가능-->
	<select id="selectOneCollection" resultMap="idolCollectionMap">
		select
        	di.*,
			iI.idol_img_no,
			iI.ORIGINAL_FILENAME,
			iI.RENAMED_FILENAME,
			iI.UPLOAD_DATE		
        from 
            dip_idol di
       join 
            idol_img iI
        on 
        	di.idol_no = iI.idol_no	
        
	</select>
	<resultMap type="dipidol" id="idolCollectionMap">
		<id column="fan_no" property="fanNo"/>
		<result column="idol_no" property="idolNo"/>
		<result column="agency_no" property="agencyNo"/>
		<result column="idol_name" property="idolName"/>
		<result column="fan_cnt" property="fanCnt"/>
		
		<collection property="idolImg" ofType="IdolImg">
			<id column="idol_no" property="idolNo"></id>
			<result column="idol_img_no" property="idolImgNo"/>
			<result column="ORIGINAL_FILENAME" property="originalFileName"/>
			<result column="RENAMED_FILENAME" property="renamedFileName"/>
			<result column="UPLOAD_DATE" property="uploadDate"/>
		</collection>

	</resultMap>
	
	<select id="selectAllIdole" resultMap="idolCollectionMaptwo">
      select 
          i.idol_no,
         i.idol_name,
         ii.renamed_filename
      from 
         idol i 
      join 
      	idol_img ii
      on
      	i.idol_no = ii.idol_no
     order by 
     	i.idol_no desc
   </select>

   <resultMap type="idol" id="idolCollectionMaptwo">
      <id column ="idol_no" property="idolNo"/>
      <result column="idol_name" property="idolName"/>
      <result column="fan_cnt" property="fanCnt"/>
      <result column="agency_no" property="agencyNo"/>
      
      <collection property="idolImg" ofType="IdolImg">
          <id column ="idol_img_no" property="idolImgNo"/>
          <result column="idol_no" property="idolNo"/>
          <result column="original_filename" property="originalFilename"/>
          <result column="renamed_filename" property="renamedFilename"/>
          <result column="upload_date" property="uploadDate"/>
      </collection>
   </resultMap>

</mapper>