<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">

	<select id="selectReviewTotalContents" resultType="int">
		select
			count(*)
		from
			review
		where
			pd_no = #{no}
	</select>
	<select id="selectReviewList" resultMap="reviewMap">
		select
			r.*,
			f.fan_id fanId
		from
			review r
		  left join
		  	fan f
		  		on r.fan_no = f.fan_no
		where
			pd_no = #{no}
	</select>
	<resultMap type="reviewExt" id="reviewMap">
		<id column="review_no" property="reviewNo"/>
		<result column="fan_no" property="fanNo"/>
		<result column="order_no" property="orderNo"/>
		<result column="pd_no" property="pdNo"/>
		<result column="review_content" property="reviewContent"/>
		<result column="review_date" property="reviewDate"/>
		<result column="read_cnt" property="readCnt"/>
		<result column="reco_cnt" property="recoCnt"/>
		<result column="review_title" property="reviewTitle"/>
		<result column="fanId" property="fanId"/>
	</resultMap>
	
	<insert id="insertReview">
	insert into
		review(
			review_no,
			review_title,
			review_content,
			review_date
		)
	values(
		seq_review_no.nextval,
		#{reviewTitle},
		#{reviewContent},
		#{reviewDate}
	)
	</insert>
	<insert id="insertBoard">
		insert into
			board(
				no,
				title,
				member_id,
				content
			)
		values (
			seq_board_no.nextval,
			#{title},
			#{memberId},
			#{content}
		)
		<!-- 발급받은 board pk no값을 파라미터 board객체의 property no에 저장한다. -->
		<selectKey keyProperty="no" resultType="_int" order="AFTER">
			select
				seq_board_no.currval
			from 
				dual
		</selectKey>
	</insert>
</mapper>






