/* 보드 전체 */
.board-container {
    width: 1000px;
    margin: 0 auto;
}

.nav-container {
    width: 1154px;
}

.nav-li {
    width: 100%;
    margin: 10px;
    height: 50px;
    line-height: 35px;
}
.active-nav {
    background-color: rgb(182, 144, 166);
}

.active-nav:hover {
    background-color: rgb(185, 137, 164);
}

.inactive-nav {
    background-color: rgb(226, 226, 226);
}
.inactive-nav:hover {
    background-color: rgb(175, 174, 174);
}
.nav-link  {
    color: black;
    text-align: center;
}

.nav-link:hover{
    color: white;
}

/* 테이블 */
.title {
    text-align: left;
}

.title:hover {
    cursor : pointer;
}

tr {
    text-align: center;
}

tr:hover {
    background-color: rgb(240, 234, 240);
}

.table {
    width: 100%;
    margin: 20px auto;
}

/* 페이징바 */
.paging-bar {
    margin: 20px;
}

.pagination {
    justify-content: center;
}

.page-link {
    color: rgb(39, 37, 39);
}

.page-link:hover {
    color: rgb(124, 85, 116);
}

/* 글쓰기 버튼 */
.enroll-btn {
    margin: 10px auto 10px;
    display: inline;
    float: right;
}

/* 검색바 */
.search-bar {
    border: 2px solid rgb(169 169 169);
    width: 47%;
    margin: 10px auto 10px;
    height: 37px;
    border-radius: 21px;
    background-color: #ffffff;
    float: left;
    display: inline;
    line-height: 29px;
}
#search-text {
    border: none;
    outline: none;
    background-color: transparent !important;
    padding-left: 8%;
}

#search-img {
    width: 4.7%;
    transform: translate(139px, -2px);
}

.dropdown-container {
    display: inline;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    background: white;
    font-size: small;
    transform: translate(18px, -2px);
    padding: 0px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0px 0.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    font-size: small;
}