/* 보드 전체 */
.board-container {
    width: 1000px;
    margin: 0 auto;
}

.nav-container {
    width: 1154px;
}

.nav-li {
    width: 100%;
    margin: 10px;
    height: 50px;
    line-height: 35px;
}
.active-nav {
    background-color: rgb(182, 144, 166);
}

.active-nav:hover {
    background-color: rgb(185, 137, 164);
}

.inactive-nav {
    background-color: rgb(226, 226, 226);
}
.inactive-nav:hover {
    background-color: rgb(175, 174, 174);
}
.nav-link  {
    color: black;
    text-align: center;
}

.nav-link:hover{
    color: white;
}

/* 테이블 */
.title {
    text-align: left;
}

.title:hover {
    cursor : pointer;
}

tr {
    text-align: center;
}

tr:hover {
    background-color: rgb(240, 234, 240);
}

.table {
    width: 100%;
    margin: 20px auto;
}

/* 페이징바 */
.paging-bar {
    margin: 20px;
}

.pagination {
    justify-content: center;
}

.page-link {
    color: rgb(39, 37, 39);
}

.page-link:hover {
    color: rgb(124, 85, 116);
}

/* 글쓰기 버튼 */
.enroll-btn {
    margin: 10px auto 10px;
    display: inline;
    float: right;
}

/* 검색바 */
.search-bar {
    border: 2px solid rgb(169 169 169);
    width: 47%;
    margin: 10px auto 10px;
    height: 37px;
    border-radius: 21px;
    background-color: #ffffff;
    float: left;
    display: inline;
    line-height: 29px;
}
#search-text {
    border: none;
    outline: none;
    background-color: transparent !important;
    padding-left: 8%;
}

#search-img {
    width: 4.8%;
}

.search-img {
    z-index: 1;
    transform: translate(376px, 32px);
    position: relative;
    width: 50%;
}

.dropdown-container {
    display: inline;
}



.dropdown-item {
    display: block;
    width: 100%;
    padding: 0px 0.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    font-size: small;
}

.idolName {
    color: #545454;
    text-shadow: 0px 0px 1px #545454;
}

.fb-idol {
	transform: translateY(-21px);	
}

.search-input {
	width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: none;
    background-clip: padding-box;
    border: 2px solid #9e9e9e;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 20px;
}
.search-input:focus {
	border:2px solid #796d7b;
	box-shadow: 0 0 0 black;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    transform: translate(0px, 21px);
    padding: 5px 10px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #9995a0;
    border-color: #9995a0;
}